.previous-wrapper {
    background: #fff;
    color: #444;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    transition: -webkit-transform 350ms ease;
    transition: transform 350ms ease;
    transition: transform 350ms ease, -webkit-transform 350ms ease;
    padding: 3rem;
}

.toggle-button {
    position: absolute;
    background: #fff;
    left: 50%;
    top: 50px;
    width: 10rem;
    transform: translate(-50%, calc(-100% - 3rem));
    text-align: center;
    font-size: 2.25rem;
    line-height: 1;
    clip-path: polygon(50% 0, 0 100%, 100% 100%);
    cursor: pointer;
    color: #989898;
    border: 0;
    font-family: inherit;
}

.toggle-button:hover,
.toggle-button:focus {
    color: #444;
}

.toggle-button span {
    display: block;
    transition: -webkit-transform 300ms ease;
    transition: transform 300ms ease;
    transition: transform 300ms ease, -webkit-transform 300ms ease;
}

.previous-days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    justify-content: space-between;
    height: 150px;
    overflow: auto;
}

.previous-day {
    opacity: 1;
    margin: 10px 0;
}

.previous-day > * {
    margin: 0;
}

.previous-day-date {
    font-size: 0.9rem;
    color: #989898;
}

.previous-day-more-info {
    cursor: pointer;
    border: 0;
    border-radius: 100vmax;
    background: #444;
    color: #fff;
    text-transform: uppercase;
    padding: 0.3em 1em;
    margin-top: 1em;
}

.previous-day-more-info:hover {
    background: #989898;
}

@-webkit-keyframes slideUpIn {
    0% {
        opacity: 0;
        transform: translateY(50%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideUpIn {
    0% {
        opacity: 0;
        transform: translateY(50%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.sr-only:not(:focus):not(:active) {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}
