.toggle-units {
    place-self: end;
    color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    opacity: 0.7;
    transition: opacity 275ms linear;
}

.toggle-units:hover {
    opacity: 1;
}

.toggle-units-button {
    cursor: pointer;
    width: 4em;
    border: 2px solid #fff;
    background: transparent;
    padding: 0;
    border-radius: 100vmax;
    margin: 0 1em;
}

.toggle-units-button::after {
    content: "";
    display: block;
    background: #fff;
    border-radius: 50%;
    height: 1rem;
    margin: 3px;
    margin-left: attr(dataDotStyles);
    width: 1rem;
}

.ml-3::after {
    margin-left: 3px;
}

.ml-auto::after {
    margin-left: auto;
}
