.weather-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2em;
    padding: 40px 0;
}

.date h2 {
    font-size: 4.5rem;
    margin: 0;
}

.date p {
    font-size: 2.25rem;
    margin: 0;
    color: #989898;
    font-weight: 300;
}

.temperature {
    border-left: solid 0.25em #613131;
    border-right: solid 0.25em #613131;
    padding: 0 2em;
}

.pressure {
    border-right: solid 0.25em #613131;
}

.wind {
    display: grid;
}

.wind__direction {
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.5);
    display: -ms-grid;
    display: grid;
    place-items: center;
    grid-row: 1 / span 2;
}

.wind__arrow {
    height: 2.4rem;
    width: 0.8rem;
    background: #613131;
    clip-path: polygon(50% 0, 0% 100%, 100% 100%);
    transform-origin: bottom center;
    transition: -webkit-transform 500ms ease;
    transition: transform 500ms ease;
    transition: transform 500ms ease, -webkit-transform 500ms ease;
}

.wind .title,
.wind .reading {
    grid-column: 2 / 3;
}
