*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Montserrat", sans-serif;
    line-height: 1.6;
    background-image: url("./img/mars.jpg");
    background-size: cover;
    height: 100vh;

    color: #fff;
}

h1,
h2,
h3 {
    line-height: 1;
}

a {
    color: #d06d6d;
}

a:hover {
    color: #613131;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.mars-weather {
    background: rgba(0, 0, 0, 0.7);
    padding: 2em;
    max-width: 1000px;
    margin: 40px 0;
    border-radius: 20px;
}

.mars-weather .main-title {
    font-size: 1.5rem;
    font-weight: 300;
    text-transform: uppercase;
    color: #d06d6d;
    letter-spacing: 2px;
    grid-column: 1 / -1;
}

.mars-weather .section-title {
    font-size: 2.25rem;
    font-weight: 700;
    margin: 0;
}

.mars-weather .reading {
    font-size: 1.5rem;
    margin: 0;
    color: #989898;
}
